<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">

    <testsuites>
        <testsuite name="">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <exclude>
                <directory>./</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <env name="SYMFONY_PHPUNIT_REMOVE_RETURN_TYPEHINT" value="1"/>
        <env name="SYMFONY_PHPUNIT_REMOVE" value="symfony/yaml"/>
    </php>
</phpunit>
