name: Test application

on:
    pull_request:
    push:
        branches:
            - '[0-9]+.x'
            - '[0-9]+.[0-9]+'

jobs:
    test:
        name: 'PHP ${{ matrix.php-version }} (${{ matrix.dependency-versions }})'
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                include:
                    - php-version: '7.2'
                      dependency-versions: 'lowest'
                      tools: 'composer:v1'
                      php-cs-fixer: false

                    - php-version: '7.4'
                      dependency-versions: 'highest'
                      tools: 'composer:v2'
                      php-cs-fixer: false

                    - php-version: '8.0'
                      dependency-versions: 'highest'
                      tools: 'composer:v2'
                      php-cs-fixer: false

                    - php-version: '8.1'
                      dependency-versions: 'highest'
                      tools: 'composer:v2'
                      php-cs-fixer: true

                    - php-version: '8.2'
                      dependency-versions: 'highest'
                      tools: 'composer:v2'
                      php-cs-fixer: false

                    - php-version: '8.3'
                      dependency-versions: 'highest'
                      minimum-stability: 'dev'
                      tools: 'composer:v2'
                      php-cs-fixer: false

        steps:
            - name: Checkout project
              uses: actions/checkout@v2

            - name: Install and configure PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  tools: ${{ matrix.tools }}

            - name: Set composer stability
              if: ${{ matrix.composer-stability }}
              run: composer config minimum-stability ${{ matrix.composer-stability }}

            - name: Install composer dependencies
              uses: ramsey/composer-install@v1
              with:
                  dependency-versions: ${{matrix.dependency-versions}}

            - name: Run php-cs-fixer
              if: ${{ matrix.php-cs-fixer }}
              run: |
                  composer global require friendsofphp/php-cs-fixer --prefer-dist --no-interaction
                  GLOBAL_BIN_DIR=$(composer global config bin-dir --absolute --quiet)
                  $GLOBAL_BIN_DIR/php-cs-fixer fix --dry-run --diff

            - name: Lint code
              run: composer validate --strict

            - name: Execute test cases
              run: vendor/bin/simple-phpunit
